In [ ]:
import pandas as pd
import numpy as np 
import os 
import re

In [ ]:
# Для решения задач нам понадобится выделить из признака title год выпуска фильма. Для этого напишем функцию get_year_release(arg).

#библиотека для регулярных выражений
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

In [3]:
ratings_movies = pd.read_csv('data/ratings_movies.csv')
display(ratings_movies.head())
display(ratings_movies.tail())

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

,Unnamed: 0,userId,movieId,rating,date,title,genres
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [5]:
ratings_movies['year_release'] = ratings_movies['title'].apply(get_year_release)
ratings_movies['year_release'].value_counts()

year_release
1995.0    6144
1994.0    5296
1999.0    4536
1996.0    4509
2000.0    4268
          ...
1903.0       2
1908.0       1
1917.0       1
1915.0       1
1919.0       1
Name: count, Length: 106, dtype: int64

In [ ]:
def isnon_poisk(year):
    sch = 0
    if year == None: sch+=1
    else

In [6]:
# Подсчёт пропущенных значений в столбце 'year_release'
nan_count = ratings_movies['year_release'].isna().sum()

print(f"Количество пустых ячеек в столбце 'year_release': {nan_count}")

Количество пустых ячеек в столбце 'year_release': 18

In [17]:
film_99 = ratings_movies['year_release'] == 1999
display(ratings_movies[film_99]['rating'].min())

0.5

In [21]:
ratings_movies[film_99].groupby('title')['rating'].mean().sort_values()

title
Bloodsport: The Dark Kumite (1999)            0.5
Simon Sez (1999)                              1.0
Chill Factor (1999)                           1.0
Source, The (1999)                            1.0
Trippin' (1999)                               1.0
                                             ...
Trailer Park Boys (1999)                      5.0
Larry David: Curb Your Enthusiasm (1999)      5.0
Sun Alley (Sonnenallee) (1999)                5.0
George Carlin: You Are All Diseased (1999)    5.0
Five Senses, The (1999)                       5.0
Name: rating, Length: 261, dtype: float64

In [22]:
flim_10 = ratings_movies['year_release'] == 2010

In [26]:
ratings_movies[flim_10].groupby('genres')['rating'].mean().sort_values()

genres
Action|Sci-Fi                        1.000000
Action|Adventure|Horror              1.500000
Action|Drama|Fantasy                 1.500000
Crime|Romance                        1.500000
Adventure|Comedy|Fantasy             1.833333
                                       ...
Crime                                4.750000
Comedy|Musical                       5.000000
Animation|Drama|Fantasy|Mystery      5.000000
Adventure|Children|Comedy|Mystery    5.000000
Animation|Children|Mystery           5.000000
Name: rating, Length: 119, dtype: float64

In [51]:
dewq = ratings_movies.groupby('userId')['genres'].unique()
#display(dewq)
dewq.info

<bound method Series.info of userId
1      [Adventure|Animation|Children|Comedy|Fantasy, ...
2      [Crime|Drama, Comedy, Drama|Romance, Action|Ad...
3      [Drama, Drama|War, Action|Crime|Drama|War, Act...
4      [Comedy|Crime|Thriller, Mystery|Sci-Fi|Thrille...
5      [Adventure|Animation|Children|Comedy|Fantasy, ...
                             ...
606    [Adventure|Animation|Children|Comedy|Fantasy, ...
607    [Adventure|Animation|Children|Comedy|Fantasy, ...
608    [Adventure|Animation|Children|Comedy|Fantasy, ...
609    [Adventure|Animation|Children|Comedy|Fantasy, ...
610    [Adventure|Animation|Children|Comedy|Fantasy, ...
Name: genres, Length: 610, dtype: object>

In [52]:
# Предположим, что данные загружены в DataFrame `ratings_movies`
# Структура данных:
#   - userId: идентификатор пользователя
#   - genres: жанры фильмов (например, "Comedy|Drama")

# Группируем по userId и считаем уникальные комбинации genres
user_unique_genres = ratings_movies.groupby('userId')['genres'].nunique()

# Сортируем по убыванию
user_unique_genres_sorted = user_unique_genres.sort_values(ascending=False)

# Выбираем userId с максимальным количеством уникальных комбинаций жанров
top_user = user_unique_genres_sorted.index[0]

print(f"Пользователь с наибольшим количеством уникальных комбинаций жанров: {top_user}")

Пользователь с наибольшим количеством уникальных комбинаций жанров: 599

In [53]:
# Группируем данные по пользователям и вычисляем количество оценок и средний рейтинг
user_stats = ratings_movies.groupby('userId').agg(
    rating_count=('rating', 'count'),  # Количество оценок
    avg_rating=('rating', 'mean')      # Средний рейтинг
).reset_index()

# Сортируем: сначала по количеству оценок (по возрастанию), затем по среднему рейтингу (по убыванию)
sorted_users = user_stats.sort_values(
    by=['rating_count', 'avg_rating'],
    ascending=[True, False]
)

# Выбираем пользователя с наименьшим количеством оценок и наибольшим средним рейтингом
target_user = sorted_users.iloc[0]['userId']

print(f"Искомый пользователь: {target_user}")

Искомый пользователь: 53.0

In [54]:
# Фильтрация данных за 2018 год
movies_2018 = ratings_movies[ratings_movies['year_release'] == 2018]

# Группировка по жанрам с расчетом среднего рейтинга и количества оценок
genre_stats = movies_2018.groupby('genres').agg(
    avg_rating=('rating', 'mean'),      # Средний рейтинг
    rating_count=('rating', 'count')    # Количество оценок
).reset_index()

# Фильтрация жанров с количеством оценок > 10
filtered_genres = genre_stats[genre_stats['rating_count'] > 10]

# Сортировка по среднему рейтингу (по убыванию)
sorted_genres = filtered_genres.sort_values('avg_rating', ascending=False)

# Выбор сочетания жанров с наибольшим средним рейтингом
top_genre_combination = sorted_genres.iloc[0]['genres']

print(f"Сочетание жанров с наибольшим средним рейтингом: {top_genre_combination}")

Сочетание жанров с наибольшим средним рейтингом: Action|Adventure|Sci-Fi

In [55]:
ratings_movies['date'] = pd.to_datetime(ratings_movies['date'])

In [56]:
ratings_movies['year_rating'] = ratings_movies['date'].dt.year

In [ ]:
ratings_movies.pivot_table(
    values='rating',
    index='year_rating',
    columns='genres',
    aggfunc='mean'
)

In [73]:
orders = pd.read_csv('data/orders_and_products/orders.csv',sep=';')

In [68]:
products = pd.read_csv('data/orders_and_products/products.csv',sep=';')

In [ ]:
display(orders)
display(products)

In [76]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Дата создания  18 non-null     object
 1   Order ID       18 non-null     int64
 2   ID Покупателя  18 non-null     int64
 3   Статус         18 non-null     object
 4   Оплачен        18 non-null     object
 5   Отменен        18 non-null     object
 6   Отгружен       18 non-null     object
 7   ID товара      18 non-null     int64
 8   Количество     18 non-null     int64
dtypes: int64(4), object(5)
memory usage: 1.4+ KB

In [77]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product_ID  14 non-null     int64
 1   Name        14 non-null     object
 2   Price       14 non-null     int64
 3   CURRENCY    14 non-null     object
dtypes: int64(2), object(2)
memory usage: 580.0+ bytes

In [80]:
display(orders.shape)
display(products.shape)

(18, 9)

(14, 4)

In [ ]:
orders_products = orders.merge(
    products,
    how='left',
    left_on='ID товара',
    right_on='Product_ID'
)
display(orders_products)

In [ ]:
orders_products = orders_products.drop('Product_ID',axis=1)
display(orders_products)

In [ ]:
orders_products['Дата создания'] = pd.to_datetime(orders_products['Дата создания'])
display(orders_products)

In [ ]:
orders_products['profit'] = orders_products['Price']*orders_products['Количество']

display(orders_products)

In [115]:
filtr = orders_products[orders_products['Оплачен'] == 'Да']
display(filtr)

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Name,Price,CURRENCY,profit
8,2019-08-11 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3,"Носки Подарочные, муж",199.0,RUR,597.0
9,2019-08-11 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3,"Носки Подарочные, жен",249.0,RUR,747.0
10,2019-08-11 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1,Платье Ночная Жизнь XXXL,8999.0,RUR,8999.0
11,2019-08-11 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1,Штаны Цветочная Поляна,4999.0,RUR,4999.0
12,2019-08-11 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1,Гольфы детские Снегурочка,99.0,RUR,99.0
13,2019-08-11 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1,Шатны Полосатый рейс,2999.0,RUR,2999.0
14,2019-08-11 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1,Платье Ночная Жизнь,7999.0,RUR,7999.0
15,2019-08-11 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1,"Носки Простые, муж",45.0,RUR,45.0
16,2019-08-11 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1,Платье Аленький цветочек,4999.0,RUR,4999.0
17,2001-01-01 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN,NaN

In [117]:
sum_order = filtr.groupby('ID Покупателя')['profit'].sum()
display(sum_order)

ID Покупателя
1        0.0
5    13043.0
7    17096.0
8     1344.0
Name: profit, dtype: float64

In [118]:
print(sum_order.sort_values(ascending=False))

ID Покупателя
7    17096.0
5    13043.0
8     1344.0
1        0.0
Name: profit, dtype: float64